application/cache/*
!application/cache/index.html

admin/application/cache/*
!admin/application/cache/index.html

application/logs/*
!application/logs/index.html

admin/application/logs/*
!admin/application/logs/index.html

!application/*/.htaccess
!admin/application/*/.htaccess

composer.lock

/vendor/
/node_modules/

# IDE Files
#-------------------------
/nbproject/