*/admin/logs/log-*.php
*/logs/log-*.php
!*/admin/logs/index.html
!*/logs/index.html
*/admin/cache/*
*/cache/*
!*/admin/cache/index.html
!*/cache/index.html
!*/cache/.htaccess
!*/admin/cache/.htaccess

application/logs/*
admin/application/logs/*
!application/logs/index.html
!admin/application/logs/index.html
!application/logs/.htaccess
!admin/application/logs/.htaccess

/vendor/
/node_modules/